
donut/Saved/Logs/donut.log
donut/Saved/Logs/donut-backup-2024.05.25-03.59.10.log
donut/Saved/Config/Windows/EditorPerProjectUserSettings.ini
donut/Saved/Config/CrashReportClient/UE4CC-Windows-CB5501F1483DC4D0AA273B852E32FF4F/CrashReportClient.ini
donut/Saved/AutoScreenshot.png
donut/Intermediate/CachedAssetRegistry.bin
donut/Intermediate/Build/Win64/donutEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h.pch
GameDev2\.git\lfs\logs\20240608T132339.104969.log
Intermediate/Build/Win64/donutEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h.pch
*.log
donut/Saved/Logs/donut.log
donut/.vs/donut/v15/Browse.VC.db
donut/.vs/donut/v15/ipch/AutoPCH/9f8d1f723233358f/DONUTGAMEINSTANCE.ipch
donut/.vs/donut/v15/Browse.VC.db
donut/.vs/donut/v15/Browse.VC.db
/donut/.vs/donut/v15
/donut/.vs/donut
/donut/.vs
/donut/.vs/donut
/donut/.vs/donut/v15
donut/.vs/donut/v15/Browse.VC.db
donut/.vs/donut/v15/Browse.VC.db
donut/.vs/donut/v15/Browse.VC.db
donut/.vs/donut/v15/Browse.VC.db
donut/Binaries/Win32/donut.exe
donut/Intermediate/Build/Win32/donut/Development/Engine/SharedPCH.Engine.ShadowErrors.h.pch
donut/Binaries/Win32/donut.pdb
